<div>
    <h1>
        {%- block header -%}
            Default Header
        {%- endblock -%}
    </h1>

    <div>
        {%- block body -%}
            Default Body
        {%- endblock -%}
    </div>
</div>
