{% for i in 0..count %}

    {# Simulate doing the same action 30x per iteration (think: 30 columns per row in a table, each row rendered using this method) #}
    {% for j in 0..30 %}
        {% embed 'embed.html.twig' %}
            {% block header%}
                Header {{ i }}
            {% endblock %}
            {% block body %}
                {% import 'shared-macro.html.twig' as shared %}
                <p>Body {{ i }}</p>
                {{ shared.macro('Value' ~ i) }}
            {% endblock %}
        {% endembed %}
    {% endfor %}

{% endfor %}
