{%- macro macro(header, body) -%}
    <div>
        <h1>
            {{- header ?? 'Default Header' -}}
        </h1>

        <div>
            {%- block body -%}
                {{- body ?? 'Default Body' -}}
            {%- endblock -%}
        </div>
    </div>
{%- endmacro -%}
